:root {
    --primary-bg-color: #000000;
    --secondary-bg-color: #FFFFFF; 
    --primary-text-color: #86878B;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #000000;
    --primary-button-color: #EC7979; 
    --secondary-button-color: #FFFFFF; 
    --card-bg-color: #333333;   
    --content-width: 1170px;
    --mobile-padding: 15px;
    --gutter: 15px;
}

@media (max-width: 1200px) {
    :root {
        --gutter: 10px;
    }
}

[data-theme="dark"] {
    --primary-bg-color: #86878B;
    --secondary-bg-color: #7d7373; 
    --primary-text-color: #1a285e;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #3e1111;
    --primary-button-color: #79eca5; 
    --secondary-button-color: #f86ea7; 
    --card-bg-color: #5b465e;   
}

* {    
    box-sizing: border-box;    
}


h1,
h2,
h3,
ul,
li,
p {
    padding: 0;
    margin: 0;
} 

body {    
    font-family: 'Raleway';
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;  
    line-height: 1.2;
    scroll-behavior: smooth; 
    margin: 0;  
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}
/* -------------------components------------------ */
.container {
    max-width: calc(var(--content-width) + var(--gutter) * 2);    
    padding: 0 var(--mobile-padding);
    margin: 0 auto;
}
/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) * -1);
}

.col-1 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 1 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-1 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

.col-2 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 2 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-2 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

.col-3 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 3 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-3 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

.col-4 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-4 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

.col-5 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-5 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

.col-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-6 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

.col-7 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-7 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

.col-8 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 8 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-8 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

.col-9 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 9 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-9 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

.col-10 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 10 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-10 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

.col-11 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 11 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-11 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

.col-12 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 12 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-12 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}
/* prime-btn */
.prime-btn {
    display: inline-block;  
    background-color: var(--primary-button-color);      
    color: var(--secondary-text-color);  
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;  
    text-decoration: none;     
    border: 2px solid var(--primary-button-color);  
    padding: 20px 0;  
}

.prime-btn:hover, .prime-btn:focus, .prime-btn:active {
    background-color: #ae4d83; 
    border: 2px solid #ae4d83; 
}
/* outline-btn */
.outline-btn {
    display: inline-block;
    color: var(--secondary-button-color);   
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;     
    border: 2px solid var(--secondary-button-color);   
    padding: 20px 0;  
}

.outline-btn:hover, .outline-btn:focus, .outline-btn:active {
    background-color: #6d6868;
    border: 2px solid #6d6868; 
}
/* switcher */
.switcher {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switcher input {
    display:none;
}

.switcher__slider {
    background-color: var(--primary-bg-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switcher__slider:before {
    background-color: var(--secondary-bg-color);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .switcher__slider {
    background-color: var(--primary-bg-color);
}

input:checked + .switcher__slider:before {
    transform: translateX(26px);
}

.switcher__slider, .switcher__slider_round {
    border-radius: 34px;
    box-shadow: 0 0 26px 0 #FEFAF4;
}

.switcher__slider, .switcher__slider_round:before {
    border-radius: 50%;
}
/* modal */
.modal {    
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0, 0, 0, .8);
}

.modal__content {
    background-color: #fefefe;
    color: var(--secondary-text-color);
    font-size: 1.2em;
    text-align: center;
    margin: 15% auto;    
    border-radius: 10px;
    width: 470px;  
}

.modal-form__close {
    color: var(--third-text-color);
    font-size: 58px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding-right: 10px;
}

.modal-form__close:hover {
    color: var(--primary-button-color);
    transform: rotate(360deg);
    transition: 100ms;
}

.modal-form {      
    background-color: var(--secondary-bg-color);
    border-radius: 10px; 
}

.modal-form__title {
    font-family: 'Open Sans'; 
    font-weight: 700;
    font-size: 24px;
    color: var(--third-text-color);
    text-transform: uppercase;
    text-align: center;
    padding: 33px 0;
    margin-bottom: 45px;
}

.modal-form__title span {
    color: #EC7979;
}

.modal-form__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;    
}

.modal-form__input {  
    background-color: var(--secondary-bg-color); 
    margin: 0 50px;
    margin-bottom: 33px;      
}

.modal-form__input:last-child {
    margin-bottom: 0px;      
}

.input-text {  
    outline: none;
    border: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #BDBDBD; 
    min-width: 100%;    
}

.input-text::placeholder {  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: .9;
    color: #BDBDBD;  
}

.modal-form__button {    
    margin-top: auto;
}

.modal-form__button:hover, .modal-form__button:focus, .modal-form__button:active {
    background-color: #813535; 
}

.button-text {
    font-family: 'Open Sans';  
    font-weight: 600;
    font-size: 15px;
    line-height: .9;
    width: 100%;
    color: var(--secondary-text-color);
    background: var(--primary-button-color);
    border-radius: 0 0 10px 10px;    
    border: none;  
    padding: 22px 0;  
}
/* section-head */
.section-head {
    position: relative;
    text-align: center;     
}

.section-head__title {
    position: relative;
    color: var(--third-text-color);
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 2.2;    
    margin-bottom: 110px; 
    text-transform: uppercase;
}

.section-head__title::after { 
    content: "";
    position: absolute; 
    border-bottom: 1px solid var(--primary-button-color);
    width: 170px;    
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);  
    margin-top: 70px;    
}

.section-head__text {    
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.section-head_light .section-head__title {
    color: var(--secondary-text-color); 
}

.section-head_light .section-head__title::after {
    border-bottom: 1px solid #ffffff;         
}

.section-head_light .section-head__text {
    color: var(--secondary-text-color);  
} 
/* tabs */
.tabs__tab {
    display: flex;
    flex-wrap: wrap;
}

.tabs__item {
    padding: 10px 80px;
    border: none;
    font: inherit;    
    background-color: transparent;   
    color: #333333;  
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;     
    text-transform: uppercase;
    text-decoration: none;  
    transform: translate(0%, 2%);      
}

.tabs__item:focus, .tabs__item_active {
    border-top: 1px solid  #C6CBCD;
    border-right: 1px solid  #C6CBCD;
    border-left: 1px solid  #C6CBCD;
    border-bottom: 2px solid #FFFFFF;
}

.tabs__card {
    border: 1px solid  #C6CBCD; 
    display: none;    
}

.tabs__card_show {
    display: block;
}

.tabs__card-inner {
    display: flex;  
}

.tabs__card-info {
    padding-left: 100px;
    width: 60%;
    padding-bottom: 54px;
    padding-right: 15px;
}

.tabs__card-title {
    color: var(--third-text-color);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.9; 
    padding: 47px 0;   
    margin-bottom: 27px; 
}

.tabs__card-text {
    color: var(--third-text-color);
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;  
    margin-bottom: 27px;      
}

.tabs__card-text p {   
    padding-bottom: 17px;  
}

.tabs__card-button {
    position: relative; 
    padding: 20px 90px; 
}

.tabs__card-image {
    width: 40%;
    flex-shrink: 0;       
    background-size: cover;        
}

.tabs__card-pic {
    object-fit: cover;   
    width: 100%;
    height: 100%;
}
/* ----------------------------------------------- */
/* ---------------------header-------------------- */
.header {    
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    background-color: var(--primary-bg-color);    
    z-index: 3;
}

.header__wrapper {         
    display: flex;  
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-between;     
}
/* ------------------------------------------------- */
.header__nav {
    margin: 0 auto;    
    margin-right: 40px; 
    padding: 30px;
    
}

.header__menu {
    display: flex;
    
}

.header__menu-item {
    position: relative;
    list-style: none;
    padding: 5px; 
}

.header__menu-link {
    text-decoration: none;
    display: block; 
    padding: 3px 20px;
    color: var(--secondary-text-color);
}

.header__menu_has-child >.header__menu-link::after {   
    content: ""; 
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin-left: 10px;
    transform: rotate(135deg);
    display: inline-block;
    transition: 1s;
}

.header__menu-sub_has-child:first-child > .header__menu-link::after {
    content: ""; 
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin-left: 10px;
    transform: rotate(45deg);
    display: inline-block;
    transition: 1s;
}

.header__menu_has-child:hover > .header__menu-sub1 {
    display: block;
    width: 160px;
} 

.header__menu-sub1 {   
    display: none;
    position: absolute;        
    top: 100%; 
    padding: 3px;
    border-radius: 10px;  
    background-color:rgba(0, 0, 0, .5);
    transition: transform 0.2s;
}

.header__menu-sub1-item {
    list-style: none;
    padding: 5px; 
}

.header__menu-sub_has-child:hover > .header__menu-sub2 {
    display: block;
} 

.header__menu-sub2 {       
    display: none;
    position: absolute; 
    top: 0;       
    left: 100%;
    width: 100%;
    padding: 3px;
    border-radius: 10px;  
    background-color:rgba(0, 0, 0, .5);
    transition: transform 0.2s;
}

.header__menu-sub2-item {
    list-style: none;
    padding: 5px;
}
/* -------------------------------------------- */
.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0;    
}

.header__item {
    margin-right: 50px;     
}

.header__item:last-child {    
    margin-right: 0;        
}

.header__link {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 0.9;
    color: var(--secondary-text-color); 
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .8;
}

.header__theme {
    display: flex;
    align-items: center;
}
/* ----------------------------------------------- */
/* ------------------section promo---------------- */
.promo {
    position: relative;
    min-height: 100vh;
    background-image: url(../image/promo/promomain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 283px;
    padding-bottom: 50px;
}

.promo::before {
    content: "";
    position: absolute;	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
    z-index: 0;    
}

.promo__row {
    display: flex;
    flex-wrap: wrap;
}

.promo-content {
    padding-top: 23px;
    z-index: 1;
}

.promo-content__img {
    padding-bottom: 73px;
}

.promo-content__title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    font-style: normal;    
    color: var(--secondary-text-color); 
    margin-bottom: 42px;  
}

.promo-content__title::after { 
    content: "";
    border-bottom: 1px solid #FFFFFF;
    width: 170px;     
    display: block;
    margin: 55px 0 0 ;
}

.promo-content__text {  
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;    
    color: var(--secondary-text-color); 
    margin-bottom: 42px;
}

.promo-content__button {   
    background: inherit;
    border: 2px solid var(--secondary-button-color);  
    padding: 20px 90px;
}

.promo-input {    
    max-height: 450px;
    z-index: 0;    
}

.promo-form {      
    background-color: var(--secondary-bg-color);
    border-radius: 10px; 
}

.promo-form__title {
    font-family: 'Open Sans'; 
    font-weight: 700;
    font-size: 24px;
    color: var(--third-text-color);
    text-transform: uppercase;
    text-align: center;
    padding: 33px 0;
    margin-bottom: 45px;
}

.promo-form__title span {
    color: #EC7979;
}

.promo-form__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;   
    margin-left: 50px; 
    margin-right: 50px; 
}

.promo-form__input {  
    background-color: var(--secondary-bg-color);     
    margin-bottom: 17px;      
}

.promo-form__input:last-child {
    margin-bottom: 0px;      
}

.input-text {  
    outline: none;
    border: none;
    padding: 16px 0;
    border-bottom: 1px solid #BDBDBD; 
    min-width: 100%;  
    background: var(--secondary-bg-color);  
}

.input-text::placeholder {  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: .9;
    color: #BDBDBD;  
}

.button-form {  
    font-size: 15px;
    line-height: .9;  
    width: 100%;
    margin-top: auto;
    border-radius: 0 0 10px 10px;       
}

.button-form:hover, .button-form:focus, .button-form:active {
    background-color: #813535; 
}
/* ----------------------------------------------- */
/* -----------------section socials--------------- */
.socials {
    background-color: #F8EFEF;
}

.socials-info__title {
    color: #333333; 
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    padding: 27px 0;
    margin-bottom: 18px;    
}

.socials-info__text {    
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 18px;
}

.socials-head__links {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    align-items: center;
}  

.socials-head__link {    
    width: calc(14.2% - 20px);
    margin: 0 10px;   
}
/* ----------------------------------------------- */
/* -----------------section history--------------- */
.history {
    padding-top: 100px;  
    padding-bottom: 25px;
}
/* ----------------------------------------------- */
/* ----------------section features--------------- */
.features {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.features__cards {   
    margin-top: 110px;
}

.feature-card__img {
    border-radius: 50%;
    border: 1px solid #EC7979;
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 0 auto;    
}

.feature-card__title {
    color: var(--third-text-color);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5; 
    padding: 20px 0;
    margin: 39px 0;    
}

.feature-card__text {
    color: var(--third-text-color);
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}    
/* ----------------------------------------------- */
/* -----------------section pricing--------------- */
.pricing {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.pricing__head {
    margin-bottom: 79px;    
}

.pricing-card_active {
    transform: translateY(-5%);
}

.pricing-card__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    background-color: var(--card-bg-color);
    border: 2px solid #F5F5F5;
    padding: 13px 0;
}

.pricing-card__price {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 2.2;
    color: var(--secondary-text-color);
    background-color: var(--card-bg-color);
    border: 2px solid #F5F5F5;
    padding: 20px 0;
}

.pricing-card__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--card-bg-color);
    border: 2px solid #F5F5F5;
    padding: 15px 0;
}

.pricing-card__list {
    list-style: none;
}

.pricing-card__list-item {
    border: 2px solid #F5F5F5;
    padding: 15px 0;
}
/* ----------------------------------------------- */
/* -----------------section reviews--------------- */
.reviews {
    padding-top: 100px;
    padding-bottom: 64px;
}

.reviews__row {  
    padding-top: 83px;
}

.reviews-card__feedback {    
    position: relative;    
    background-color: #E2E2E2;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    padding: 38px 0;    
    border: 1px solid transparent;
    border-radius: 10px;  
    margin-bottom: 66px; 
}

.reviews-card__feedback::after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #E2E2E2;
}

.reviews-card__author {
    display: flex;
    align-items: flex-start;      
}

.reviews-card__author-img {   
    align-items: flex-start;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.reviews-card__author-info {   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
    margin-left: 30px;  
}

.reviews-card__author-name {    
    color: var(--third-text-color);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5; 
    padding: 15px 0;
    margin-bottom: 15px;   
}

.reviews-card__author-work {
    color: var(--third-text-color);
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;    
}
/* ----------------------------------------------- */
/* -------------section call-to-action------------ */
.call-to-action {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;  
    background-image: linear-gradient(360deg,
            rgba(0, 0, 0, .5) 0%,
            rgba(0, 0, 0, .5) 100%),
        url(../image/call-to-action/banner.png);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center; 
}

.call-to-action__head {
    margin-bottom: 73px;    
}

.call-to-action__button {  
    position: relative;   
    padding: 20px 140px; 
}
/* ----------------------------------------------- */
/* -----------------section contact--------------- */
.contact {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* .contact__wrapper {    
    display: flex;            
    flex-direction: column;
    padding-top: 89px;
} */

.contact__row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding-top: 89px;
    padding-bottom: 50px;
}

.contact__form-item {
    margin-bottom: 34px;
}

.contact__form-item:last-child {
    margin-bottom: 0;
}

.contact__form-input {   
    width: 100%;   
    outline: none;
    border: none;
    padding: 16px 0;
    border-bottom: 1px solid #BDBDBD;      
    margin-bottom: 50px;    
} 

.contact__form-input:last-child {      
    margin-bottom: 0px;     
} 

.contact__form-input::placeholder {  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: .9;
    color: #BDBDBD;  
}

.contact__form-message {  
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: .9;
    color: #BDBDBD;
    outline: none;
    border: none;    
    padding-bottom: 187px;
    border-bottom: 1px solid #BDBDBD;  
    resize: none;  
    white-space: normal;
    vertical-align: middle;
}

.contact__form-button {
    display: block;
    background-color: var(--primary-button-color);      
    padding: 20px 120px;    
    margin: 0 auto;
}
/* ----------------------------------------------- */
/* ---------------------footer-------------------- */
.footer {
    width: 100%;
    background-color: var(--primary-bg-color);  
}

.footer_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 27px;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0 -20px;
}

.footer__link {
    margin: 0 20px;
}

.footer__link:hover, .footer__link:focus, .footer__link:active {
    opacity: .6;
}

.footer__copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.5);    
}
/* ----------------------------------------------- */